{{ "{% extends 'admin/base.html.twig' %}

{% block title %}
  {{ icon('lines') }}
  Gérer les contenus
{% endblock %}

{% block actions %}
    <a href=\"{{ path(prefix ~ '_new') }}\" class=\"btn-primary\">Ajouter</a>
{% endblock %}

{% block head %}
  <div class=\"nk-block-between g-3\">
    <div class=\"nk-block-head-content\">
        <h3 class=\"nk-block-title page-title\">Appointment List</h3>
        <div class=\"nk-block-des text-soft\">
            Description
        </div>
    </div>
    <div class=\"nk-block-head-content\">
        <a data-bs-toggle=\"modal\" href=\"#add\" class=\"btn btn-icon btn-primary d-md-none\"><em class=\"icon ni ni-plus\"></em></a>
        <a data-bs-toggle=\"modal\" href=\"{{ path(prefix ~ '_new') }}\" class=\"btn btn-primary d-none d-md-inline-flex\"><em class=\"icon ni ni-plus\"></em></a>
    </div><!-- .nk-block-head-content -->
</div>
{% endblock head %}

{% block content %}
  {{ grid(gridData, rows) }}

  {{ paginate(rows) }}
{% endblock %}
" | raw }}
