<!DOCTYPE html>
{% set app_locale = app.request.attributes.get('_locale') %}
<html lang="{{ app_locale }}"></html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>
			{% block title global_page.title|trans  %}
			| UMA
		</title>
		{% block css %}
			{{ encore_entry_link_tags('app') }}
			{{ encore_entry_link_tags('app-front') }}
		{% endblock %}

	</head>
	<body>
        {% include "front/includes/_header.html.twig" with {app_locale} %}
		<main>

			{% block body %}
			{% endblock %}
		</main>
		{% include "front/includes/_footer.html.twig" %}


		<script>
			window.loggedIn = {
				...( window.loggedIn || {} ),
				ADMIN: {{ is_granted('ROLE_ADMIN') ? 'true' : 'false' }},
				USER: '{{ app.user ? app.user.id : 'null' }}'
				};
		</script>

		{% block js %}
			{{ encore_entry_script_tags('app') }}
			{{ encore_entry_script_tags('app-front') }}
		{% endblock js %}
	</body>
</html>
